@model IEnumerable<PetAdoption.Domain.DomainModels.AdoptionForm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-5">Adoption Forms</h1>

<table class="table mt-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Animal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmittedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Animal.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Applicant.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm me-1 fw-bolder">Details</a>

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm me-1 fw-bolder">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm fw-bolder">Delete</a>
                    }
                </td>

        </tr>
}
    </tbody>
</table>
